# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/
dist/

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# System
.DS_Store
Thumbs.db

# Build
*.tsbuildinfo
